extends layout

block content
	div.container
		form(method='post', action='/playlist')
			input#input(type='text', name='url' value='')
			input(type='submit' value='ADD')

		ol#playlist.list-group
			each url in playlist
				li.list-group-item=url

		div.embed-responsive.embed-responsive-4by3(data-toggle='tooltip', title='Player is ready')
			div#player


		script(type='text/javascript').
			var tag = document.createElement('script');
			tag.src = "https://www.youtube.com/iframe_api";
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
