extends layout

block content
    button#add PRESS ENTER TO ADD
    input#input(type='text', value='https://www.youtube.com/watch?v=FOns9gObzHE')

    h2 PLAYLIST
    ol#playlist
      li#first  

    iframe#player(width='420', height='36', src='', frameborder='0', allowfullscreen='')

    script(src='https://code.jquery.com/jquery-2.1.3.js')
    script(src='/javascripts/index.js')