doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/index.css')

  body
    block content

    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src='/javascripts/lib/bootstrap.min.js')
    script(src='/javascripts/source.js')
    script(src='/javascripts/youtube.js')
    script(src='/javascripts/tumblr.js')
    script(src='/javascripts/umq.js')
