#input {
	width: 80%;
	margin: 0 0 10px 0;
}

#playlist {
    background-color: lightgray;
    table-layout: fixed;
}

#playlist td {
    overflow: auto;
}
.row-delete { width: 30px;  }
.row-id     { width: 30px;  }
.row-title  { width: 500px; }
.row-artist { width: 300px; }
.row-url    { width: 800px; }

#playlist tbody tr:hover {
    cursor: pointer;
}

.container {
    padding-top: 15px;
}

body {
    padding-top: 60px;
    background-color: floralwhite;
}

.embed-responsive {
    height: 50px;
}

audio {
    width: 100%;
}

form.add {
    margin-bottom: 25px;
}

