#input {
	width: 80%;
	margin: 0 0 10px 0;
}

#playlist {
    margin-top: 20px;
}

#playlist > li:hover {
	cursor: pointer;
}

.container {
  padding-top: 15px;
}

.embed-responsive {
    height: 35px;
}

audio {
    width: 100%;
}
